@media (min-width: 321px) {

  .nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 160px;
  }

  .btns {
    margin: 0;
  }

  .title {
    font-size: 52px;
  }

  .text {
    font-size: 24px;
  }

  .list {
    margin: 0 auto;
    max-width: 300px;
    justify-content: space-between;
  }

  .list__item {
    max-width: 236px;
  }
}

@media (min-width: 768px) {

  .cont {
    min-width: 660px;
  }

  .baner {
    padding-top: 33px;
  }
  
  .list {
    max-width: 490px;
    margin-bottom: 30px;
  }

  .list__item {
    max-width: 234px; 
    margin: 0;
  }

}

@media (min-width: 960px) {
  .list {
    min-width: 940px;
  }
}