html {
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

.container {
  font-family: 'Playfair Display', serif;
  width: 900px;
  margin: 0 auto;
}
p, h2 {
  margin: 0;
}
.wrapper {
  padding-bottom: 100px;
}
/* nav */
header {
  padding-top: 75px;
  padding-bottom: 100px;
}

.navigation { 
  width: 900px;
  height: 19px;
  list-style: none;
  font-weight: 400;
  text-align: center;
}
.menu {
  font-size: 0;
  padding: 0;
}
.menu .menu-item {
  display: inline-block;
  margin-right: 120px;
  font-size: 14px;
}

.menu li:last-child {
  margin: 0;
}
a {
  display: block;
  color: #626262;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 15px;
}

.menu a:hover,
.menu a:focus {
  color: #03a9f4;
}

/* cont */

.features {
  font-size: 0;
  margin: 0;
  padding: 0;
  color: #626262;
  font-weight: 400;
  list-style: none;
  padding-bottom: 56px;
}
.image {
  margin-bottom: 15px;
}

.item {
  line-height: 24px;
  font-size: 14px;
  display: inline-block;
  width: 420px;
  margin-right: 60px;
  margin-bottom: 140px;
}

.item:nth-child(2n) {
  margin: 0;
}

.item:not(:nth-child(-n + 4)) {
  margin-bottom: 0;
}

.little-logo {
  color: #b4ad9e;
  line-height: 30px;
  margin-bottom: 20px;
}

.logo {
  margin-bottom: 30px;
}

button {
  width: 160px;
  height: 60px;
  background-color: #fff;
  border: 0;
  display: block;
  padding: 0;
  margin: 0 auto;
  font-size: 20px;
  color: #626262;
  text-decoration: none;
}
button:hover {
  border: 1px solid #000;
}